@import "StatisticCardValue";

.StatisticCard {
  display: inline-block;
  font-family: var(--font-tt);
  margin-right: var(--card-margin);

  flex: 1;

  &-Wrapper {
    height: $CardHeight;

    border-radius: var(--component-border-radius);
    background-color: var(--card-backgroud);

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;

    padding: 0 $PaddingBox;
  }

  &-Icon {
    width: $IconSize;
    height: $IconSize;
    margin-right: $IconMargin;
  }

  &-Text {
    display: flex;
    flex-direction: column;
  }
}

.Text {
  &-Counter {
    font: {
      weight: 500;
      size: $CounterSize;
    }
  }

  &-Subject {
    font: {
      weight: 400;
      size: $SubjectSize;
    }

    color: var(--subtitle-text-color);
    line-height: 85%;
  }
}
