{
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "trailingComma": "all"
}
