@import "ButtonValue";

:root {
  --Accent: var(--accent-normal-color);
  --Primary: #FFF;
}

.Button {
  display: inline-block;

  --BackgroundColor: var(--Accent);
  --TextColor: var(--Primary);
  --BorderColor: var(--Accent);
  font-family: var(--font-tt);



  &[data-size="l"] {
    flex: 1;
  }

  &:first-child {
    margin-inline-start: 0;
  }

  transition: transform var(--transition-scale-in); //TODO Поменять анимацию

  &[data-disable="true"] {
    opacity: .6;
  }

  &:active:not([data-disable="true"]){
    transform: scale(.92);
  }

  &-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    height: $ButtonHeight;

    padding: 0 $ButtonPadding;

    border: {
      width: $BorderWidth;
      color: var(--BorderColor);
      radius: var(--button-border-radius);
      style: solid;
    }

    background-color: var(--BackgroundColor);
  }

  &-Text {
    font: {
      weight: 400;
      size: $TextSize;
    }

    color: var(--TextColor);

    transform: translateY(10%);
  }
}

.Button[data-style='outline'] {
  --BackgroundColor: var(--background-color);
  --TextColor: var(--Accent);
  --BorderColor: var(--Accent);
}

.Button[data-status='normal'] {
  --Accent: var(--accent-normal-color);
  --Primary: #FFF;
}

.Button[data-status='destructive'] {
  --Accent: var(--destructive-normal-color);
  --Primary: #FFF;
}

.Button[data-status='success'] {
  --Accent: var(--success-normal-color);
  --Primary: #FFF;
}
