.TableUsers-enter {
  .SmallUserCard {
    transform: scale(0);
  }
}

.TableUsers-enter-active {
  @for $i from 1 through 16 {
    .SmallUserCard:nth-child(#{$i}) {
      transform: scale(1);
      transition: transform var(--transition-scale-in) (.5s + ($i - 1) * (.5s / 15));
    }
  }
}


.WaitHeader-appear {
  transform: translateY(-60px);
  opacity: 0;
}

.WaitHeader-appear-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform .35s cubic-bezier(.31, 1.14, .64, 1.01), opacity .3s .05s cubic-bezier(.31, 1.14, .64, 1.01);
}

.WaitHeader-exit {
  transform: translateY(0);
  opacity: 1;
}

.WaitHeader-exit-active {
  transform: translateY(-60px);
  opacity: 0;
  transition: transform .5s cubic-bezier(.59, -0.43, .76, .39), opacity .5s ease-out;
}


.WaitButton-appear {
  transform: translateY(100px);
  opacity: 0;
}

.WaitButton-appear-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform .4s .2s cubic-bezier(.31, 1.14, .64, 1.01), opacity .5s .2s ease-out;
}

.WaitButton-exit {
  transform: translateY(0);
  opacity: 1;
}

.WaitButton-exit-active {
  transform: translateY(60px);
  opacity: 0;
  transition: transform .5s .2s cubic-bezier(.59, -0.43, .76, .39), opacity .5s .2s ease-out;
}
