.Card {
  span {
    font-family: 'SF UI Display', serif;
  }

  margin-right: 10px;

  position: relative;
  min-width: 255px;
  min-height: 127px;
  border-radius: 15px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  box-sizing: border-box;
  padding: 16px 21px;

  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-Text {
      display: flex;
      flex-direction: column;

      &-Header {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
      }

      &-Subheader {
        font-size: 13px;
        max-width: 140px;
        font-weight: 500;
      }
    }
  }

  &[data-color='basic-cyan'] {
    background: var(--gradient-basic-cyan);
    color: white;
  }

  &[data-color='basic-brown'] {
    background: var(--gradient-basic-brown);
    color: white;
  }

  &[data-color='light-purple'] {
    background: var(--gradient-light-purple);
    color: black;
  }
}
