.ProfileCell {
  padding: 0 var(--space-20px) var(--space-28px);

  img {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 25px;
    object-fit: cover;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-16px);
  }

  &-Info {
    display: flex;
    flex-direction: column;
    gap: var(--space-04px);
  }

  &-GoButton {
    background-color: var(--color-light-blue);
    border-radius: 10px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blue);
  }
}
