@import 'src/Component/UserCard/SmallUserCard/SmallUserCardValue';


.SmallUserCard {
  display: inline-block;
  margin-block-end: $CardMargin;
  margin-inline-end: $CardMargin;
  font-family: var(--font-tt);

  &-Wrapper {
    text-align: center;
  }

  &-AvatarImage {
    position: relative;

    border: {
      radius: var(--component-border-radius);
      width: $CardBorderWidth;
      style: none;
    }

    box-sizing: border-box;

    background: {
      color: var(--background-color);
      size: cover;
      position: center;
      repeat: no-repeat;
    };

    width: $CardAvatarSize;
    height: $CardAvatarSize;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--accent-normal-color);
  }

  &-UserText {
    font: {
      family: var(--font-tt);
      weight: 400;
      size: $CardUserTextSize;
    }

    color: var(--subtitle-text-color);

    margin-top: $CardUserTextMargin;

    max-width: $CardAvatarSize;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-StateIcon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .Icon {
      z-index: 2;
      color: white;
    }

    &:after {
      content: '';
      background-color: black;
      opacity: 0.5;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      border-radius: var(--component-border-radius);
    }
  }
}

.AvatarImage {
  &_empty {
    border: {
      color: var(--card-border-color);
      style: solid;
    }
  }

  &_step-select {
    border: {
      width: $CardInnerBorderWidth;
      color: var(--accent-normal-color);
      style: solid;
    }
  }

  &_action-select {
    border: {
      width: $CardInnerBorderWidth;
      color: var(--success-normal-color);
      style: solid;
    }
  }

  &_exposed-select {
    border: {
      width: $CardInnerBorderWidth;
      color: var(--destructive-normal-color);
      style: solid;
    }
  }
}
