.AvailabilityRow {
  display: flex;
  flex-direction: row;

  .AvailabilityCard {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.SliderSwitch {
  margin-bottom: 10px;
}

.vkuiButton--ios {
  margin-bottom: 34px !important;
}
