@import "StepUserCardValue";

.StepUserCard {
  display: block;
  font-family: var(--font-tt);

  &-Wrapper {
    background-color: var(--card-backgroud);
    border-radius: var(--component-border-radius);

    display: flex;
    align-items: center;

    width: $CardWidth;
    height: $CardHeight;
  }

  &-AvatarImage {
    width: $AvatarSize;
    height: $AvatarSize;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    };

    border-radius: var(--component-border-radius);
  }

  &-CardContent {
    flex: 1;
    margin: 0 $UserContentMargin;

    text-align: center;
  }
}

.CardContent {
  &-Timer {
    font: {
      weight: 600;
      size: $TimerTextSize;
    }

    color: var(--destructive-normal-color);
  }

  &-Action {
    font: {
      weight: 400;
      size: $ActionTextSize;
    }

    color: var(--subtitle-text-color);
    line-height: 85%;
  }
}
