.ButtonGroup {
  margin-right: -5px;
  margin-bottom: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Button {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
