$RoleImageWidth: 30px;
$RoleImageHeight: 55px;
$UserContentMargin: 10px;

$AvatarSize: 70px;
$AvatarSize_expand: 140px;

$CardWidth: 250px;
$CardHeight: $AvatarSize;
$CardWidth_expand: 280px;
$CardHeight_expand: $AvatarSize_expand;

$UserTextSize: 0.78em;
$RoleTextSize: 1.12em;
