.RoomCard {
  padding: 0 var(--space-20px) var(--space-12px);

  &-Wrapper {
    padding: var(--space-14px) var(--space-20px);
    background-color: var(--color-card-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-12px);

    &-Block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-Number {
        opacity: .5;
      }

      &-Player {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }

      &-Icon {
        color: var(--color-blue);
      }
    }
  }
}
