.big__button {
    margin: 0.7em !important;
    border:none;
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 3px !important;
    border-radius: 18px;
}

.big__button::after{
    content: '';
    display: block;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 15px;
}

.big__button-subtitle {
    color: #747474;
    font-size: 13px;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.big__button-wrapper {
    display: inline-block;
}