.alert-enter {
  .BoxButton {
    transform: scale(0);
  }

  /*transform: scale(0.9);*/
}

.alert-enter-active {
  @for $i from 1 through 16 {
    .BoxButton:nth-child(#{$i}) {
      //transform: scale(1);
      //transition: transform var(--transition-scale-in) (($i - 1) * (.3s / 15));
    }
  }
}

.alert-enter-done {
  /*transform: scale(1);*/
}

.TableButtons-exit {
  .BoxButton {
    transform: scale(1);
  }
}

.TableButtons-exit-active {
  @for $i from 1 through 12 {
    .BoxButton:nth-child(#{$i}) {
      transform: scale(0);
      opacity: 0;
      transition: transform var(--transition-scale-out) ($i - 1) * (.3s / 12), opacity var(--transition-scale-out) ($i - 1) * (.3s / 12);
    }
  }
}

.TableButtons-exit-done {
  .BoxButton {
    opacity: 0;
    transform: scale(0);
  }
}

.CreateHeader-enter {
  transform: translateY(-60px);
  opacity: 0;
}

.CreateHeader-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform .35s cubic-bezier(.31, 1.14, .64, 1.01), opacity .3s .05s cubic-bezier(.31, 1.14, .64, 1.01);
}

.CreateHeader-exit {
  transform: translateY(0);
  opacity: 1;
}

.CreateHeader-exit-active {
  transform: translateY(-60px);
  opacity: 0;
  transition: transform .5s cubic-bezier(.59, -0.43, .76, .39), opacity .5s ease-out;
}

.CreateHeader-exit-done {
  opacity: 0;
  transform: translateY(-60px);
}

.CreateButtons-exit {
  transform: translateY(0);
  opacity: 1;
}

.CreateButtons-exit-active {
  transform: translateY(60px);
  opacity: 0;
  transition: transform .5s .2s cubic-bezier(.59, -0.43, .76, .39), opacity .5s .2s ease-out;
}
