$CornerSmooth: 4.5;
$BorderRadius: 15px;
$ButtonBorderRadius: 10px;

$CardMargin: 10px;

:root {
  --corner-smooth: #{$CornerSmooth};
  --component-border-radius: #{$BorderRadius};
  --button-border-radius: #{$ButtonBorderRadius};

  --card-margin: #{$CardMargin};
}
