.RoomGroup-Wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.RoomGroup-Players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.RoomGroup-Header {
  margin-bottom: 10px;
}

.Separator__in {
  margin: 0 !important;
}
