$BackgroundColor: #FFF;
$SubtitleTextColor: #676767;

$CardBackground: #F3F3F3;

$AccentNormalColor: #2F80ED;
$DestructiveNormalColor: #F64056;
$SuccessNormalColor: #27AE60;

$CardBorderColor: rgba(0, 0, 0, 0.1);