.ExtraCard {
  padding: 0 var(--space-20px) var(--space-28px);

  &-Wrapper {
    position: relative;
    box-sizing: border-box;
    padding: var(--space-16px) var(--space-20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    height: 115px;
    border-radius: 15px;

    &-Icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      display: flex;
      align-items: center;

      width: calc(140px - var(--space-28px));

      opacity: .15;

      .vkuiIcon, .vkuiIcon svg {
        width: 140px !important;
        height: 140px !important;
      }
    }

    &-Info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &-Text {
        display: flex;
        flex-direction: column;

        color: var(--color-white)
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(var(--space-06px) * -1);
      right: calc(var(--space-06px) * -1);
      bottom: calc(var(--space-06px) * -1);
      left: calc(var(--space-06px) * -1);

      background: inherit;
      border-radius: inherit;

      filter: var(--blur-soft-shaddow);

      opacity: .3;
      z-index: -1;
    }
  }

  &[data-color='attention'] > &-Wrapper {
    background: var(--gradient-bright-red);
    color: white;
  }

  &[data-color='info'] > &-Wrapper {
    background: var(--gradient-bright-purple);
    color: white;
  }
}
