.ExtraCard {
  span {
    font-family: 'SF UI Display', serif;
  }

  background: linear-gradient(85.92deg, #FF9393 10.71%, #FF9ABE 95.61%);
  position: relative;
  height: 115px;
  border-radius: 15px;
  color: white;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  box-sizing: border-box;
  padding: 16px 21px;

  &-Icon {
    position: absolute;
    right: -30px;
    top: -13px;
    opacity: .15;
  }

  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-Text {
      display: flex;
      flex-direction: column;

      &-Header {
        font-weight: 600;
        font-size: 18px;
      }

      &-Subheader {
        font-size: 13px;
      }
    }
  }
}
