.ExtraCard {
  span {
    font-family: 'SF UI Display', serif;
  }

  position: relative;
  height: 115px;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  box-sizing: border-box;
  padding: 16px 21px;

  &:after {
    content: '';
    position: absolute;
    top: -13px;
    right: -13px;
    bottom: -13px;
    left: -13px;

    background: inherit;
    border-radius: inherit;

    filter: blur(18px);

    opacity: .3;
    z-index: -1;
  }

  &-Icon {
    position: absolute;
    width: calc(139px - 30px);
    right: 0;
    top: -13px;
    opacity: .15;

    .vkuiIcon, .vkuiIcon svg {
      width: 139px !important;
      height: 139px !important;
    }
  }

  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-Text {
      display: flex;
      flex-direction: column;

      &-Header {
        font-weight: 600;
        font-size: 18px;
      }

      &-Subheader {
        font-size: 13px;
      }
    }
  }

  &[data-type='attention'] {
    background: var(--gradient-bright-red);
    color: white;
  }

  &[data-type='info'] {
    background: var(--gradient-bright-purple);
    color: white;
  }
}
