@import "NewsCardValue";

.NewsCard {
  font-family: var(--font-tt);
  display: block;

  height: $Height;

  background-color: var(--card-backgroud);
  border-radius: var(--component-border-radius);

  &-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  &-Content {
    flex: 7;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    padding: 0 $ContentPadding;
  }

  &-Image {
    flex: 5;
    height: $Height;

    background-size: cover;
    background-position: center;

    border-bottom-right-radius: var(--button-border-radius);
    border-top-right-radius: var(--component-border-radius);
  }
}

.Content {
  &-Title {
    font: {
      weight: $TitleWeight;
      size: $TitleSize;
    }
    line-height: 85%;
  }

  &-Subtitle {
    font: {
      weight: $SubtitleWeight;
      size: $SubtitleSize;
    }

    color: var(--subtitle-text-color);
  }
}
