@import "BoxButtonValue";

.BoxButton {
  display: inline-block;

  margin-block-end: $ButtonMargin;
  margin-inline-end: $ButtonMargin;

  position: relative;

  width: $ButtonSize;
  height: $ButtonSize;

  font-family: var(--font-tt);

  --BackgroundColor: var(--background-color);
  --TextColor: var(--accent-normal-color);

  user-select: none;
  cursor: pointer;

  transition: transform var(--transition-scale-in);
  transition-delay: 0s;

  &:active {
    transform: scale(.92);
  }

  &_active {
    --BackgroundColor: var(--accent-normal-color);
    --TextColor: #FFF;
  }

  &-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    width: $ButtonSize - $BorderWidth * 2;
    height: $ButtonSize - $BorderWidth * 2;

    margin: $BorderWidth;

    border-radius: var(--component-border-radius);
    border: solid var(--accent-normal-color) $BorderWidth;

    background-color: var(--BackgroundColor);
  }

  &-Text {
    font: {
      weight: 500;
      size: $TextSize;
    }

    color: var(--TextColor);

    transform: translateY(10%);
  }
}
